<ion-view view-title="My Kitchup">
  <ion-content>
  <ion-nav-title>
      <img  class="title-image" src="./img/logo.png" >
    </ion-nav-title>
  
    <img  class="adjust-image" src="./img/bg.png" >
  
  
    <ion-list>
      <ion-item >
          <a class="button button-block button-positive" href="#/app/addproduct">Aggiungi prodotto</a>
      </ion-item>
	  
	  <ion-item  href="#/app/mykitchen">
          My kitchen
      </ion-item>
	  
	  <ion-item  href="#/app/listaspesa">
          Lista della spesa
      </ion-item>
	  
	  
	  
    </ion-list>
  </ion-content>
</ion-view>
